{
  "presets": ["latest", "stage-0", "react", "babili"],
  "plugins": [
    ["module-resolver", {
      "root": [ "./src" ],
      "extensions": [".js", ".jsx", ".es", ".es6", ".md"],
      "alias": {
        "readme": "./readme.md",
      }
    }]
  ],
}
